@import url(./reset.css);


@font-face {
    font-family:'Inter';
    src: url('../fonts/Inter18pt-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family:'Inter';
    src: url('../fonts/Inter18pt-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family:'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}




:root{
    --main-text-color: white;
    --blue-text-color: rgb(0, 144, 199);
    --nav-bg-accent-color: rgba(255, 255, 255, 0.3);
    --body-color: rgb(244, 244, 244);
    --blue-gradient: linear-gradient(163.97deg, rgb(0, 144, 199) 18.426%,rgb(3, 40, 234) 146.674%);
    --orange-gradient:linear-gradient(153.54deg, rgb(240, 125, 73) -19.655%,rgb(255, 209, 91) 137.999%);
    --orange-text:rgb(215, 125, 21);


}   

body{
    background-color: var(--body-color) ;
}


.container{
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 100%;
    
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.9) 2.193%,rgba(0, 0, 0, 0) 98.228%), 
                url(../img/main-background.png) center no-repeat;

    border-radius: 0px 0px 50px 50px;
}
.navigation {
    position: fixed;
    top: 24px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-inline: 60px;
}
.navigation-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 25px;
    margin-right: 16px;
    border-radius: 50px;

    background:var(--nav-bg-accent-color);

    width: 1087px;
    height: 65px;
}
.navigation-logo {
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    margin-left: 50px;
}
.navigation-list {
    display: flex;
    align-items: center;

}
.navigation-item{
    margin-right: 28px;
}
.navigation-link {
    color: var(--main-text-color);
    font-family: 'Inter';
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}
.navigation-link{
}
.lang-select{
    margin-right: 40px;
}

.social-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 217px;
    height: 65px;
    border-radius: 50px;

    padding-inline: 21px;

    background: var(--nav-bg-accent-color);
}
.icon-block{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px;
    border: 1px solid var(--nav-bg-accent-color);
    border-radius: 50px;

}
.social-icon{

    fill: var(--main-text-color);
}



.header-title {
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 70px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;

    max-width: 750px;
    padding-top: 190px;
}
.header-title-span {
    position: relative;
    background-color: var(--main-text-color);
    color: var(--blue-text-color);

    padding-left: 100px;
    padding-right: 30px;

    padding-block: 8px;
    border-radius: 50px;
}
.header-title-span:before{
    content:url(../img/svg/location-icon.svg);
    display: block;
    
    transform: translateY(-50%);

    position: absolute;
    top: 50%;
    left: 35px;

} 
.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 132px 55px;

    min-width: 600px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    max-width: 100px;
}
.icon p{
    color: var(--main-text-color);
}
.icon svg{
    fill: var(--main-text-color);
}
.svg-bg{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);

    border-radius: 50%;
}


.cards-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 21px; 
    grid-template-areas: 
      "one double double"
      ". . ."; 
                              
    margin: 41px auto;

    max-width: 1320px;
    min-height: 600px;

    
}
.card{
    position: relative;

    border-radius: 20px;
    background: var(--blue-gradient);
}
.card-1{grid-area: one;}
.card-2{
    background-image: url(../img/ice.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-3{
    background: var(--orange-gradient);
}
.card-3 .price{
    color: var(--orange-text);
}
.card-4{
    background-image: url(../img/water.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-double{
    grid-area: double;

    background-image: url(../img/whale-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-double .card-text{
    width: 400px;
}

.date-line {
    position: absolute;
    top:24px;
    left: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--nav-bg-accent-color);
    border-radius: 20px;
    padding-inline: 24px;

}
.date-line .date{
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;

    padding-block: 10px;

}
.date-line .more-dates{
    display: none;
    color: var(--blue-text-color);
    font-family:'Inter';
    font-size: 12px;
    font-weight: normal;

    background-color: var(--main-text-color);

    padding-block: 10px;


}
.price {
    position: absolute;
    top:24px;
    right: 30px;

    
    color: var(--blue-text-color);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;

    background-color: var(--main-text-color);

    border: none;
    border-radius: 20px;

    height: 32px;

    padding-inline: 24px;

    cursor: pointer;

}
.card-text {
    position: absolute;
    bottom:30px;
    left: 30px;

    color: var(--main-text-color);
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    line-height: 130%;
    text-transform: uppercase;

    width: 250px;
}
.card-svg-link {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom:30px;
    right: 30px;

    width: 60px;
    height: 60px;

    border: 1px solid var(--nav-bg-accent-color);
    border-radius: 50%;
}
.top-right-arrow{
    fill: var(--main-text-color);
    cursor: pointer;

}






.advert-block {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 119px auto;
    max-width: 1320px;
    min-height: 527px;

    background-image:url(../img/lines.png),var(--blue-gradient);
    background-position: center;

    border-radius: 20px;

    padding-top: 69px;
    padding-left: 60px;

    overflow: hidden;
}
.advert-text {
    max-width: 600px;

}
.adv-title {
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 600;
    line-height: 135%;
    letter-spacing: -1%;
    text-align: left;
    text-transform: uppercase;
}
.adv-title-span{
    position: relative;
    background-color: var(--main-text-color);
    color: var(--blue-text-color);

    padding-left: 60px;
    padding-right: 30px;
    padding-block: 4px;

    border-radius: 50px;
}

.adv-title-span:before{
    content:url(../img/svg/location-2.svg);
    display: block;

    position: absolute;
    top:50%;
    left: 20px;

    transform: translateY(-50%);
}
.adv-description {
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: left;

    max-width: 400px;

    margin-top: 20px;
    margin-bottom: 50px;
}
.button-block {
    display: flex;
    align-items: center;
}
.link-1 {
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;
    line-height: 107%;
    letter-spacing: 1%;
    text-align: left;

    padding: 17px 50px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;

}
.link-2 {
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;
    line-height: 107%;
    letter-spacing: 1%;
    text-align: left;

    padding: 17px 50px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}
.button-link:hover{
    background-color: var(--main-text-color);
    color: var(--blue-text-color);
}
.advert-image {
    position: absolute;
    bottom: 0;
    right: 0;
 
}
/*About__________________________________________*/

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 1440px;

    border-radius: 50px;

    background-image: url(../img/lines.png), var(--blue-gradient);
}
.about-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-left: 120px;
    margin-top: 100px;

    
}
.about-block {
}
.about-text {
}
.about-text p:nth-child(2){
    margin-top: 20px;
}
.about-text p:nth-child(3){
    margin-top: 30px;
    margin-bottom: 50px;
}
.about-title {
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 50px;
    font-weight: bold;
    line-height: 135%;
    letter-spacing: -1%;
    text-align: left;
    text-transform: uppercase;

}
.about-description {
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: left;

    max-width: 500px;
}
.about-image{
    position: relative;
}
.about-image-main{
    margin-left: 109px;
    max-width: 609px;
    
}
.about-image-small{
    position: absolute;
    bottom: -40%;
    left: 30px;

    transform: translateY(-50%);
}
 

.logo-row{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;

    margin-top: 120px;
    margin-left: 120px;
    padding-bottom: 467px;

}

.logo-row .logo-wrapper:nth-child(2){
    background-color: var(--main-text-color);
}
.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 224px;
    height: 224px;

    border: 1px solid var(--nav-bg-accent-color);
    border-radius: 50%;
}

.additional-info {
    position: absolute;

    left: -120px;
    top: 350px;

    min-width: 1320px;

    background-image: url(../img/video.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.additional-warpper{
    margin-block: 50px;
    margin-inline: 60px;
}

.additional-title {
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 50px;
    font-weight: bold;
    line-height: 135%;
    letter-spacing: -1%;
    text-align: left;
    text-transform: uppercase;

    width: 345px;
    margin-bottom: 208px;
}
.add-text-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
}
.additional-text {
    position: relative;
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: left;

    width: 345px;
}
.additional-text:last-child{
    width: 410px;
}
.additional-text:before{
    content: "";
    position: absolute;

    top: 10px;
    left: -12px;

    display: block;
    background-color: var(--main-text-color);
    border-radius: 50%;
    width: 4px;
    height: 4px;

}


/*Blog------------------------------------------*/



.blog{
    max-width: 1320px;
    margin: 297px auto 0;


}
.blog-grid-wrapper{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "double double small"
                         ". . .";
    gap: 20px;
    padding-bottom: 58px;
}
.blog-title{
    background: linear-gradient(163.97deg, rgb(0, 144, 199),rgb(3, 40, 234));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    font-family: 'Inter';
    font-size: 50px;
    font-weight: bold;
    line-height: 135%;
    letter-spacing: -1%;
    text-align: left;
    text-transform: uppercase;

    margin-left: 60px;
    margin-bottom: 40px;

    align-self: flex-start;
}
.blog-card{
    position: relative;
    border-radius: 20px;
}
.blog-double-card{
    grid-area: double;

    min-height: 400px;

    background-image: url(../img/plane.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: var(--main-text-color);
}
.blog-key_words{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;

    margin-top: 20px;
    margin-left: 30px;
}

.key_word:first-child{
    background-color: rgb(2, 82, 221);
}
.key_word:last-child{
    background: rgb(1, 138, 121);
}

.key_word{
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: normal;
    line-height: 107%;
    letter-spacing: 1%;
    text-align: left;

    padding: 10px 24px;

    border-radius: 50px;
}
.blog-card_info{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.icon-row{
    display: flex;
    align-items: center;
    column-gap: 48px;

    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: normal;
    line-height: 135%;
    letter-spacing: 1%;
    text-align: left;
}
.blog-date, .views, .person{
    position: relative;
}
.blog-date{
    margin-left: 24px;
}
.blog-date:before, .views:before, .person::before{
    content: "";
    display: block;
    position: absolute;

    top: 50%;
    left: -24px;

    height: 20px;

    transform: translateY(-50%);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.blog-date:before{
    background-image: url(../img/svg/calendar.svg);
    
    width: 20px;
    
}
.views:before{
    background-image: url(../img/svg/eye.svg);
    width: 18px;
}
.person::before{
    background-image: url(../img/svg/person-small.svg);
    width: 15px;
}
.blog-card-title{
    color: var(--main-text-color);
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: bold;
    line-height: 135%;
    letter-spacing: 1%;
    text-align: left;
    text-transform: uppercase;

    margin-top: 20px;
    max-width: 481px;
}


.blog-small-card{
    display: flex;
    flex-direction: column;

    border: 1px solid rgb(187, 197, 198);
    border-radius: 20px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.small-card-top{
    position: relative;
    border-radius: 20px;
    min-height: 210px;
}
.small-card-top .blog-key_words{
    margin-left: 20px;
}
.small-card-top .icon-row{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.small-card-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
}
.small-card-bottom .person{
    color: rgb(109, 109, 109);
    margin-left: 24px;

    margin-block:22px 18px;
}
.small-card-bottom .person:before{
    background-image: url(../img/svg/person-small-blue.svg);
}
.small-card-bottom h3{
    color: var(--blue-text-color);
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 1%;
    font-style: italic;
    text-align: left;
    text-transform: uppercase;

    margin-bottom: 9px;
}
.small-card-bottom p{
    color: rgb(109, 109, 109);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: left;

    max-width: 345px;
}
.sm-1{
    grid-area: small
}
.sm-1 .small-card-top{
    background-image: url(../img/building.png);
}
.sm-1 .key_word:first-child{
    background-color: rgb(240, 125, 73);
}
.sm-1 .key_word:last-child{
    background-color: rgb(138, 1, 1);;
}

.sm-2 .small-card-top{
    background-image: url(../img/houses.png);
    
}
.sm-2 .key_word{
    background: rgb(0, 144, 199);
}

.sm-3 .small-card-top{
    background-image: url(../img/car.png);
}

.sm-3 .blog-key_words{
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.sm-4 .small-card-top{
    background-image: url(../img/whale-tail.png);
}

.blog-more{
    display: block;
    margin: 0 auto;
    width: 281px;
    padding: 18px 50px;

    background-color: rgb(2, 82, 221);

    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: bold;
    line-height: 107%;
    letter-spacing: 1%;
    text-align: left;

    border-radius: 50px;
}


/*--------------------*/


.no-time{
    position: relative;

    max-width: 1320px;
    width: 100%;
    margin: 120px auto;

    overflow: hidden;

}
.animal-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
}
.no-time h3{
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 50px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: -1%;
    text-align: left;
    text-transform: uppercase;

    margin-bottom: 12px;
}
.no-time p{
    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: left;

    max-width: 317px;
    margin-bottom: 40px;
}

.no-time-wrapper{
    display: flex;
    flex-direction: column;

    padding-left: 60px;
    padding-top: 55px;

    border-radius: 20px;

    min-height: 524px;
    background-image:url(../img/lines.png),var(--blue-gradient);
}
.no-time-form{
    display: flex;
    flex-direction: column;

    color: rgba(255, 255, 255, 1);

    max-width: 440px;
}
.no-time-form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
}

.no-time-form input:first-child{
    margin-bottom: 32px;
}
.no-time-form input::placeholder{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;;
}

.policy-checkbox{
    display: flex;
    align-items: flex-start;
}


.custom-checkbox__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.custom-checkbox {
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    user-select: none;

    color: rgba(255, 255, 255, 0.7);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;

    margin-top: 20px;
}
  
.custom-checkbox__checkmark {
    position: relative;
    height: 20px;
    min-width: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}
  
  
.custom-checkbox__input:checked ~ .custom-checkbox__checkmark {
    background-color: #2196F3;
    border-color: #2196F3;
}
  
.custom-checkbox__checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
  
.custom-checkbox__input:checked ~ .custom-checkbox__checkmark::after {
    display: block;
}

.no-time-form-btn{
    color: var(--blue-text-color);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: bold;
    line-height: 107%;
    letter-spacing: 1%;
    text-align: left;
    border: none;

    padding: 18px 50px;
    margin-top: 50px;

    border-radius: 100px;
    background-color: var(--main-text-color);
}




/*Footer------------------------*/



.footer{
    background: linear-gradient(134.27deg, rgb(2, 97, 216) -43.123%,rgb(0, 144, 199) 114.643%);
    min-width: 100%;
    border-radius: 70px 70px 0px 0px;
}
.footer-grid-wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "logos address time email icons"
                         ". . .  phone . ";

    margin-inline: 60px;
    padding-top: 35px;
    padding-bottom: 37px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.logos {
    grid-area: logos;
    max-width: 234px;
}
.address {
    grid-area: address;
    max-width: 285px;
}
.time {
    grid-area: time;
    max-width: 166px;
}
.email {
    grid-area: email;
    max-width: 150px;
}
.phone-number{
    grid-area: phone;
    max-width: 150px;
    margin-top: 24px;
}
.footer-icons {
    grid-area: icons;
    max-width: 175px;
}

.footer-logo{
    margin: 0;
}
.logos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.pay-logos{
    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 21px;
}
.block-title{
    color:var(--main-text-color);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-align: left;

    margin-bottom: 10px;
}
.block-info{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: left;
}
.footer-icons .social-navigation{
    background-color: transparent;
}


.footer-policy {
    display: flex;
    justify-content: space-between;

    margin-inline: 60px;
    margin-top: 20px;
    padding-bottom: 20px;

    color: var(--main-text-color);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;

    
}
.footer-links {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.copyright {
}